<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.ares.dao.core.dal.mapper.ext.Ares2NamespaceExtMapper">

  <delete id="deleteNamespace">
    delete  from ares2_namespace where namespace_code = #{namespaceCode};
    delete  from ares2_app	 where namespace_code = #{namespaceCode};
    delete  from ares2_app_env where namespace_code = #{namespaceCode};
    delete  from ares2_cluster where namespace_code = #{namespaceCode};
    delete  from ares2_conf where namespace_code = #{namespaceCode};
    delete  from ares2_conf_group where namespace_code = #{namespaceCode};
    delete  from ares2_conf_history where namespace_code = #{namespaceCode};
    delete  from ares2_env where namespace_code = #{namespaceCode};
  </delete>

</mapper>