<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.ares.dao.core.dal.mapper.Ares2ClusterMapper">

    <resultMap id="BaseResultMap" type="com.cy.ares.dao.common.model.Ares2ClusterDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="namespace_code" jdbcType="VARCHAR" property="namespaceCode" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="env_code" jdbcType="VARCHAR" property="envCode" />
        <result column="cluster_code" jdbcType="VARCHAR" property="clusterCode" />
        <result column="create_user" jdbcType="BIGINT" property="createUser" />
        <result column="modify_user" jdbcType="BIGINT" property="modifyUser" />
        <result column="create_user_account" jdbcType="VARCHAR" property="createUserAccount" />
        <result column="modify_user_account" jdbcType="VARCHAR" property="modifyUserAccount" />
    </resultMap>

    <sql id="Query_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                #{listItem}
                            </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Query_Where_Clause">
        <where>
            <foreach collection="query.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        `id`,`gmt_create`,`gmt_modified`,`namespace_code`,`app_code`,`env_code`,`cluster_code`,`create_user`,`modify_user`,`create_user_account`,`modify_user_account`
    </sql>

    <select id="selectByQuery" parameterType="com.cy.ares.dao.common.query.Ares2ClusterQuery" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
            from ares2_cluster
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="MysqlDialectSuffix" />
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from ares2_cluster where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from ares2_cluster where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByQuery" parameterType="com.cy.ares.dao.common.query.Ares2ClusterQuery">
        delete from ares2_cluster
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </delete>

    <insert id="insertSelective" parameterType="com.cy.ares.dao.common.model.Ares2ClusterDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ares2_cluster
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gmt_create,gmt_modified,
            <if test="namespaceCode != null">
                namespace_code,
            </if>
            <if test="appCode != null">
                app_code,
            </if>
            <if test="envCode != null">
                env_code,
            </if>
            <if test="clusterCode != null">
                cluster_code,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="modifyUser != null">
                modify_user,
            </if>
            <if test="createUserAccount != null">
                create_user_account,
            </if>
            <if test="modifyUserAccount != null">
                modify_user_account,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            now(),now(),
            <if test="namespaceCode != null">
                #{namespaceCode,jdbcType=VARCHAR},
            </if>
            <if test="appCode != null">
                #{appCode,jdbcType=VARCHAR},
            </if>
            <if test="envCode != null">
                #{envCode,jdbcType=VARCHAR},
            </if>
            <if test="clusterCode != null">
                #{clusterCode,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=BIGINT},
            </if>
            <if test="modifyUser != null">
                #{modifyUser,jdbcType=BIGINT},
            </if>
            <if test="createUserAccount != null">
                #{createUserAccount,jdbcType=VARCHAR},
            </if>
            <if test="modifyUserAccount != null">
                #{modifyUserAccount,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByQuery" parameterType="com.cy.ares.dao.common.query.Ares2ClusterQuery" resultType="java.lang.Integer">
        select count(*) from ares2_cluster
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </select>

    <update id="updateByQuerySelective" parameterType="map">
        update ares2_cluster
        <set>
            gmt_modified=now(),
            <if test="record.namespaceCode != null">
                namespace_code = #{record.namespaceCode,jdbcType=VARCHAR},
            </if>
            <if test="record.appCode != null">
                app_code = #{record.appCode,jdbcType=VARCHAR},
            </if>
            <if test="record.envCode != null">
                env_code = #{record.envCode,jdbcType=VARCHAR},
            </if>
            <if test="record.clusterCode != null">
                cluster_code = #{record.clusterCode,jdbcType=VARCHAR},
            </if>
            <if test="record.createUser != null">
                create_user = #{record.createUser,jdbcType=BIGINT},
            </if>
            <if test="record.modifyUser != null">
                modify_user = #{record.modifyUser,jdbcType=BIGINT},
            </if>
            <if test="record.createUserAccount != null">
                create_user_account = #{record.createUserAccount,jdbcType=VARCHAR},
            </if>
            <if test="record.modifyUserAccount != null">
                modify_user_account = #{record.modifyUserAccount,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Query_Where_Clause" />
        </if>
    </update>

    <update id="updateByQuery" parameterType="map">
        update ares2_cluster
        <set>
        namespace_code = #{record.namespaceCode,jdbcType=VARCHAR},
        app_code = #{record.appCode,jdbcType=VARCHAR},
        env_code = #{record.envCode,jdbcType=VARCHAR},
        cluster_code = #{record.clusterCode,jdbcType=VARCHAR},
        create_user = #{record.createUser,jdbcType=BIGINT},
        modify_user = #{record.modifyUser,jdbcType=BIGINT},
        create_user_account = #{record.createUserAccount,jdbcType=VARCHAR},
        modify_user_account = #{record.modifyUserAccount,jdbcType=VARCHAR},
        gmt_modified = now()
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Query_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.cy.ares.dao.common.model.Ares2ClusterDO">
        update ares2_cluster
        <set>
            gmt_modified=now(),
            <if test="namespaceCode != null">
                namespace_code = #{namespaceCode,jdbcType=VARCHAR},
            </if>
            <if test="appCode != null">
                app_code = #{appCode,jdbcType=VARCHAR},
            </if>
            <if test="envCode != null">
                env_code = #{envCode,jdbcType=VARCHAR},
            </if>
            <if test="clusterCode != null">
                cluster_code = #{clusterCode,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=BIGINT},
            </if>
            <if test="modifyUser != null">
                modify_user = #{modifyUser,jdbcType=BIGINT},
            </if>
            <if test="createUserAccount != null">
                create_user_account = #{createUserAccount,jdbcType=VARCHAR},
            </if>
            <if test="modifyUserAccount != null">
                modify_user_account = #{modifyUserAccount,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="MysqlDialectSuffix">
        <if test="pageOffset &gt;= 0 and pageSize &gt; 0">
            <![CDATA[ LIMIT #{pageOffset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER} ]]>
        </if>
    </sql>

</mapper>
